###############################################################################
# [ WARNING ]
# cinder-volume configuration file maintained by a snap
# local changes will be overwritten.
###############################################################################
[DEFAULT]
rootwrap_config = {{ snap_paths.common }}/etc/cinder/rootwrap.conf
api_paste_confg = {{ snap_paths.common }}/etc/cinder/api-paste.ini
debug = {{ settings.debug }}
use_syslog = True
auth_strategy = keystone
state_path = {{ snap_paths.common }}/lib/cinder
transport_url = {{ rabbitmq.url }}
cinder_internal_tenant_project_id = {{ cinder.project_id }}
cinder_internal_tenant_user_id = {{ cinder.user_id }}
{% if cinder.default_volume_type is defined %}
default_volume_type = {{ cinder.default_volume_type }}
{% endif %}
{% if cinder.cluster is defined and cinder.cluster and cinder_backends.cluster_ok %}
cluster = {{ cinder.cluster }}
{% endif %}
enabled_backends = {{ cinder_backends.enabled_backends }}
glance_catalog_info = image:glance:internalURL
{% if ca and ca.bundle %}
glance_ca_certificates_file = {{ snap_paths.common }}/etc/ssl/certs/receive-ca-bundle.pem
glance_api_insecure = false
{% endif %}

[nova]
interface = internal
{% if identity is defined and identity.auth_url %}
auth_type = password
auth_url = {{ identity.auth_url }}
username = {{ identity.username }}
password = {{ identity.password }}
project_name = {{ identity.project_name }}
user_domain_name = {{ identity.user_domain_name }}
project_domain_name = {{ identity.project_domain_name }}
{% endif %}
{% if cinder.region_name %}
region_name = {{ cinder.region_name }}
{% endif %}
{% if ca and ca.bundle %}
cafile = {{ snap_paths.common }}/etc/ssl/certs/receive-ca-bundle.pem
{% endif %}

[barbican]
barbican_endpoint_type = internal
{% if cinder.region_name %}
region_name = {{ cinder.region_name }}
{% endif %}
{% if ca and ca.bundle %}
verify_ssl_path = {{ snap_paths.common }}/etc/ssl/certs/receive-ca-bundle.pem
{% endif %}

[glance]
{% if cinder.region_name %}
region_name = {{ cinder.region_name }}
{% endif %}
{% if ca and ca.bundle %}
cafile = {{ snap_paths.common }}/etc/ssl/certs/receive-ca-bundle.pem
{% endif %}

[database]
connection = {{ database.url }}
connection_recycle_time = 20
max_pool_size = 2

[oslo_messaging_rabbit]
rabbit_quorum_queue = True

[oslo_concurrency]
lock_path = {{ snap_paths.common }}/lib/cinder/tmp

[backend_defaults]
image_volume_cache_enabled = {{ cinder.image_volume_cache_enabled }}
image_volume_cache_max_size_gb = {{ cinder.image_volume_cache_max_size_gb }}
image_volume_cache_max_count = {{ cinder.image_volume_cache_max_count }}
target_helper = lioadm

{% if settings.enable_telemetry_notifications -%}
[oslo_messaging_notifications]
driver = messagingv2
{%- endif %}
